<div class="container" style="height: 100%;">
  <div class="row justify-content-center">
    <div
      class="col col-12 col-sm-8 col-md-8 col-lg-6 md position-relative"
      style="min-height: 100vh; padding-bottom: 80px;"
    >
      <div
        class="row justify-content-center text-center p-4"
        style="background: url('../../assets/background.jpg'); background-size: cover; min-height: 75px; height: auto;"
      >
        <div class="col-4 text-left"></div>
        <div class="col-8 text-right text-dark pr-0">{{ currentBlank }}</div>
      </div>
      <router-outlet></router-outlet>
      <div
        class="row border-top border-light div-footer"
      >
        <div class="col col-12 text-center p-3">
          <span class="m-auto">Нумеролог Валерия <strong>@numerolog_valeria</strong></span>
        </div>
      </div>
    </div>
  </div>
</div>
