/* You can add global styles to this file, and also import other style files */
// Progress


@import "../projects/ng-uikit-pro-standard/src/lib/assets/scss/core/_colors";
@import "../projects/ng-uikit-pro-standard/src/lib/assets/scss/core/_mixins";
@import "../projects/ng-uikit-pro-standard/src/lib/assets/scss/core/_variables";
@import "../projects/ng-uikit-pro-standard/src/lib/assets/scss/pro/_variables";
@import "../projects/ng-uikit-pro-standard/src/lib/assets/scss/angular/pro/_progress";
@import "./reset-browser.scss"; // reset browser (padding margin in html body...)
.carousel-indicators {
  width: 100% !important;
  height: 0px !important;
  margin: 0.85rem 0 0 0 !important;
  bottom: unset !important;
}

.spinning-preloader-container {
  z-index: 1050 !important;
}

