<div
  class="view streak streak-photo streak-md"
  style="background-image:url('../../../../assets/second_7.jpg')"
>
  <div class="flex-center mask rgba-white-slight">
    <ul class="smooth-scroll pl-0">
      <!--Panel-->
      <div
        class="mt-4 card card-body z-depth-3 wow myFadeIn myFadeInStatic"
        data-wow-delay="0.2s"
      >
        <div class="text-center">
          <ul class="list-unstyled">
            <li>
              <h2 class="h2-responsive pl-5 pr-5 mt-1">
                Хотите задать свой вопрос?
              </h2>
            </li>
            <li>
              <button
                (click)="onScrolltoContacts()"
                mdbBtn
                type="button"
                color="danger"
                outline="true"
                mdbWavesEffect
              >
                <i class="fa fa-edit"></i> Написать
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!--/.Panel-->
    </ul>
  </div>
</div>
